@font-face {
  font-family: "MrRobot";
  src: url(./fonts/mrRobot.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins.ttf);
}

body {
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
}
.logo {
  display: none;
}
.res {
  position: relative;
  margin-bottom: 5rem !important;
}

.headStyle {
  color: #fc0101;
  font-size: 5rem;
  font-family: MrRobot;
  font-weight: 400;
  margin: 0;
  display: block;
  padding-top: 2rem;
}

.about{
  display: block;
  flex-direction: column;
  min-height: 100vh;
  text-align: start;
  padding-left: 4rem;
  padding-right: 4rem;
}





@media screen and (max-width: 768px) {
  .textStyle {
    color: white;
    font-size: 18;
    font-family: "Poppins";
    font-weight: "400";
    width: "70%";
    display: "block";
    border: "1px solid white";
    /* margin: "0 1rem 4rem 1rem"; */
  }

  .about{
    min-height: 120vh;
    
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100px;
    height: 100px;
    display: block;
  }
  .headStyle {
    color: #fc0101;
    font-size: 2rem;
    font-family: MrRobot;
    font-weight: 400;
    margin: 0;
    display: block;
    padding-top: 2rem;
  }
}
